* {
    font-family: Arial, Helvetica, sans-serif;    
    color: rgb(167, 38, 60);
}
html{
    height: 100%;
    width: 100%;
}

header{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 35vh;
    margin: 0;
    position: relative;
}
body{
    background-color: rgb(21, 20, 20) !important;
}

.foto::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0px;
    left: 0px;
    margin: 0;
    width: 100%;
    background-image: url("bilder/piano.jpg");
    background-color: rgb(6, 0, 0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
}
/*navbar*/
.navbar{
    color: rgb(167, 38, 60) !important;
    background: rgb(6, 0, 0);
}
.navbar-brand{
    margin-left: 10%;
    color: rgb(167, 38, 60) !important;
}
.nav-link{
    color: rgb(167, 38, 60) !important;
}
/*Navbar!*/

/*Center*/
.title{
    margin-top: 40px;
    text-align: center;
}
.title a{
    color: inherit;
    text-decoration: none;
    padding: 5px;
    color: rgb(6, 0, 0);
    background: rgb(167, 38, 60);
}
.title a:hover{
    padding: 10px;
    border-radius: 3px;
    color: rgb(6, 0, 0);
    background: rgb(167, 38, 60);
    transition: .5s;
}

.text-titel{
    min-height: 100%;
    padding: 20px;
    min-height: auto;
    max-height: 500vh;
    margin: 0 auto -50px;
    width: 80%;
    padding-bottom: 50px;
}
.text-flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}
.text{
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 20px;
    min-height: 300px;
    width: 48%;
    margin-top: 5%;
    margin-bottom: 60px;
    background: rgba(6, 0, 0, 0.5);
}
/*Center!*/

/*footer*/
.footer {
    padding: 20px;
    height: auto;
    margin-top: auto;
    background-color: rgb(6, 0, 0);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.column-middle{
    border-left: solid;
    border-right: solid;
    flex: 30%;
    align-self: center;
}
.column-social{
    flex: 25%;
    width: auto;
    margin-right: 15%;
}
.column-left{
    flex: 25%;
    text-align: left;
    margin-left: 15%;
}
/*footer!*/

/*@media*/
@media(max-width: 770px){
    .text-flex{
        flex-direction: column;
    }
    .text{
        width: 80%;
    }
    .footer{
        margin-top: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .column-middle{
        border: none;
        margin: 0;
    }
    .column-left{
        flex: 25%;
        text-align: center;
        margin-left: 0;
    }
    .column-social{
        flex: 25%;
        width: auto;
        margin-right: 0;
    }
    footer div{
    padding-bottom: 50px;
    margin: 0;
    }
}
/*@media!*/
