* {
    font-family: Arial, Helvetica, sans-serif;    
    color: rgb(167, 38, 60);
}
html{
    height: 100%;
    width: 100%;
}

header{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 35vh;
    margin: 0;
    position: relative;
}
body{
    background-color: rgb(21, 20, 20) !important;
}
.foto::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    bottom: 0px;
    left: 0px;
    margin: 0;
    width: 100%;
    background-color: rgb(6, 0, 0);
    background-image: url("bilder/tetr.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(1px);
}
/*navbar*/
.navbar{
    color: rgb(167, 38, 60) !important;
    background: rgb(6, 0, 0);
}
.navbar-brand{
    margin-left: 10%;
    color: rgb(167, 38, 60) !important;
}
.nav-link{
    color: rgb(167, 38, 60) !important;
}
/*Navbar!*/
/*way*/
.way{
    padding: 10px 0 0 0;
    align-items: center;
    background: rgb(6, 0, 0);

}
.way-link{
    align-items: center;
    width: 100%;
    padding: 10px;
    padding-left: 100px;
}
.way-link a{
    margin: 10px;
    align-items: center;
    color: rgb(167, 38, 60);
    position: relative;
    list-style: none;
    height: auto;
    text-decoration: none;
}
.way-link a:hover{
    color: rgb(6, 0, 0);
    background: rgb(167, 38, 60);
    padding: 10px;
    position: relative;
    list-style: none;
    text-decoration: none;
    transition: .5s;
}
/*way!*/
.text-flex{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}
.text{
    text-align: center;
    display: flex;
    flex-flow: row;
    align-items: center;
    text-decoration: none;
    padding: 20px;
    min-height: 350px;
    width: 45%;
    margin-top: 5%;
    margin-bottom: 60px;
    background: rgba(6, 0, 0, 0.5);
}
.column{
    display: flex;
    width: 50%;
    flex: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border: 100% 100%;
    border-radius: 30px;
    flex-flow: column;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1%;
}
iframe{
    width: 100%; 
    height: 315;
}

/*footer*/
.footer {
    padding: 20px;
    height: auto;
    margin-top: auto;
    background-color: rgb(6, 0, 0);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.column-middle{
    border-left: solid;
    border-right: solid;
    flex: 30%;
    align-self: center;
}
.column-social{
    flex: 25%;
    width: auto;
    margin-right: 15%;
}
.column-left{
    flex: 25%;
    text-align: left;
    margin-left: 15%;
}
/*footer!*/

/*@media*/
@media(max-width: 770px){
    .text-flex{
        flex-direction: column;
    }
    .text{
        width: 80%;
    }
    .footer{
        margin-top: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .column-middle{
        border: none;
        margin: 0;
    }
    .column-left{
        flex: 25%;
        text-align: center;
        margin-left: 0;
    }
    .column-social{
        flex: 25%;
        width: auto;
        margin-right: 0;
    }
    footer div{
    padding-bottom: 50px;
    margin: 0;
    }
}
/*@media!*/