* {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(167, 38, 60);
}
html{
    height: 100%;
    width: 100%;
    background-color: rgb(11, 10, 10);
}


header{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35%;
    margin: 0;
    position: relative;
}
.piano::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0px;
    left: 0px;
    margin: 0;
    width: 100%;
    background-image: url("bilder/piano.jpg");
    background-color: rgb(6, 0, 0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
}

nav{
    position: relative;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.logo{
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
a{
    text-decoration: none; 
}
nav ul{
    flex-basis: auto;
    border-style: solid;
    background: rgba(6, 0, 0, 0.6);
    text-align: center;
    width: 100%;
}
nav ul li{
    flex-wrap: nowrap;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    display: inline-block;
    min-width: 15%;
    margin: 0 5px;
}
nav ul li a{
    font-weight: bold;
    flex-basis: 25%;
    max-width: 20%;
    font-size: 20px;
    text-transform: uppercase;
}
a.active,a:hover{
    background: rgb(167, 38, 60);
    color: rgb(6, 0, 0);
    padding: 10px;
    transition: .5s;
    border-radius: 3px;
}

section{
    margin-left: 15%;
    text-align: start;
    min-height: 20%;
    height: 100px;
}

body{
    height:100vh; 
    margin:0; 
    display:flex; 
    flex-direction:column; 
    text-align: center;
}


section1 {
    background-color: black;
    padding: 0px;
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100%;
    height: 15%;
    position: relative;
    text-indent: -99999999;

    margin: auto;
}
section2 {
    padding: 10px;
    padding-bottom: 40px;
    height: 15%;
    text-align: center;
}

footer{
    height: 10%;
    padding: 20px;
    padding-bottom: 50px;
    margin-top:auto;
    min-height: 160px; 
    max-height: 200px;
    background-color: black
}

.row{
    align-items: center;
    display: flex;
}
.column-middle{
    border-left: solid;
    border-right: solid;
    flex: 30%;
    align-self: center;
}
.column-social{
    flex: 25%;
    width: auto;
    margin-right: 15%;
}
.column-left{
    flex: 25%;
    text-align: left;
    margin-left: 15%;
}


