* {
    font-family: Arial, Helvetica, sans-serif;    
}
nav{
    background: rgb(6, 0, 0);
}
.navbar{
    background-color: rgb(167, 38, 60) !important;
}
.navbar-brand{
    color: white;
}
html{
    height: 100%;
    width: 100%;
    background-color: rgb(11, 10, 10);
}

header{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 35vh;
    margin: 0;
    position: relative;
}
.piano::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0px;
    left: 0px;
    margin: 0;
    width: 100%;
    background-image: url("bilder/piano.jpg");
    background-color: rgb(6, 0, 0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
}

.text1{
    padding: 20px;
    min-height: 100%;
    margin: 0 auto -50px;
    width: 80%;
}
.text2{

}

body{
    height: 100%;
    margin: 0;
}


.footer {
    padding: 20px;
    height: auto;
    margin-top: auto;
    background-color: rgb(6, 0, 0);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.column-middle{
    border-left: solid;
    border-right: solid;
    flex: 30%;
    align-self: center;
}
.column-social{
    flex: 25%;
    width: auto;
    margin-right: 15%;
}
.column-left{
    flex: 25%;
    text-align: left;
    margin-left: 15%;
}


