* {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(167, 38, 60);
    /*border: red;
    border-style: solid;*/
}
html{
    height: 100%;
    width: 100%;
    background-color: rgb(11, 10, 10);
}


header{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 35vh;
    margin: 0;
    position: relative;
}
.piano::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0px;
    left: 0px;
    margin: 0;
    width: 100%;
    background-image: url("bilder/piano.jpg");
    background-color: rgb(6, 0, 0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
}

nav{
    position: relative;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.logo{
    font-size: 35px;
    line-height: 80px;
    justify-content: left;
    font-weight: bold;
    padding-right: 10%;
}
a{
    text-decoration: none; 
}
nav ul{
    flex-basis: auto;
    border-style: solid;
    padding-bottom: 10px;
    background: rgba(6, 0, 0, 0.6);
    text-align: center;
    width: 100%;
}
nav ul li{
    flex-wrap: nowrap;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    display: inline-block;
    min-width: 15%;
    margin: 0 5px;
}
nav ul li a{
    font-weight: bold;
    flex-basis: 25%;
    max-width: 20%;
    font-size: 20px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: rgb(167, 38, 60);
    color: rgb(6, 0, 0);
    padding: 10px;
    transition: .5s;
    border-radius: 3px;
}

.text{
    padding: 20px;
    min-height: 100%;
    margin: 0 auto -50px;
    width: 80%;
}

body{
    height: 100%;
    margin: 0;
}


.footer {
    border: red;
    border-style: solid;
    padding: 20px;
    height: auto;
    background-color: rgb(6, 0, 0);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.column-middle{
    border-left: solid;
    border-right: solid;
    flex: 30%;
    align-self: center;
}
.column-social{
    flex: 25%;
    width: auto;
    margin-right: 15%;
}
.column-left{
    flex: 25%;
    text-align: left;
    margin-left: 15%;
}


